{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}

<div class="form-box">
    <h1>Edit Blog</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" name="title" value="{{ post.title }}" required>
        <br>
        <textarea name="content" required>{{ post.content }}</textarea>
        <br>
        {% if post.image %}
            <img src="{{ post.image.url }}" class="post-image">
        {% endif %}

        <input type="file" name="image">
        <div class="action-links">
            <button type="submit" name="action" value="publish">
                {% if post.is_published %}
                    Update Post
                {% else %}
                    Publish
                {% endif %}
            </button>

            <button type="submit" name="action" value="draft" class="draft-btn">
                {% if post.is_published %}
                    Save as Draft
                {% else %}
                    Update Draft
                {% endif %}
            </button>
        </div>
    </form>
</div>

{% endblock %}