{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BlogSite{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <a href="/">Blog-Site</a>
        </div>
        <br>
        

        <div class="nav-links">
            <a href="/">Home</a>

            {% if user.is_authenticated %}
                <a href="/dashboard/">Dashboard</a>
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/login/">Login</a>
                <a href="/signup/">Signup</a>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    <script>
        setTimeout(function () {
            const alerts = document.querySelectorAll('.alert');

            alerts.forEach(function(alert) {
                alert.style.opacity = '0';
                alert.style.transition = 'opacity 0.5s ease';
                
                setTimeout(function() {
                    alert.remove();
                }, 500);
            });

        }, 3000);
    </script>

</body>
</html>